<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="cafe-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="live">
      <ion-icon name="analytics-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="statistics">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="configuration">
      <ion-icon name="options-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
