<ion-header> </ion-header>

<ion-content>
  <ion-card (click)="openBoilerPidModal()">
    <ion-card-content>
      <div class="ion-text-center">
        <p>Boiler PID<ion-icon name="flame-outline" slot="end"></ion-icon></p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="openPumpPidModal()">
    <ion-card-content>
      <div class="ion-text-center">
        <p>Pump PID<ion-icon name="water-outline" slot="end"></ion-icon></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
