<ion-toolbar>
  <ion-icon name="arrow-back-circle" (click)="dismiss()"></ion-icon>
</ion-toolbar>


<ion-content>
  <ion-card>
       <ion-item>
         <ion-label position="stacked">Pressure</ion-label>
         <ion-select value=1 placeholder="Select pressure" [(ngModel)]="pressureSetting" (ionChange)="updatePressureGuageReading()">
           <ion-select-option value=1>1 Bar</ion-select-option>
           <ion-select-option value=2>2 Bar</ion-select-option>
           <ion-select-option value=3>3 Bar</ion-select-option>
           <ion-select-option value=4>4 Bar</ion-select-option>
           <ion-select-option value=5>5 Bar</ion-select-option>
           <ion-select-option value=6>6 Bar</ion-select-option>
           <ion-select-option value=7>7 Bar</ion-select-option>
           <ion-select-option value=8>8 Bar</ion-select-option>
           <ion-select-option value=9>9 Bar</ion-select-option>
           <ion-select-option value=10>10 Bar</ion-select-option>
           <ion-select-option value=11>11 Bar</ion-select-option>
           <ion-select-option value=12>12 Bar</ion-select-option>
         </ion-select>
       </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Pressure Guage Reading</ion-label>
      <ion-input [(ngModel)]="pressureGaugeReading" readonly="true">
      </ion-input>
    </ion-item>
  </ion-card>
  <ion-card style="height: 40%;" style="margin-top: 40%;">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-icon name="caret-up-outline" style="font-size: 60px;" (click)="increasePressure()"></ion-icon>
          <ion-icon name="caret-down-outline" style="font-size: 60px;" (click)="decreasePressure()"></ion-icon>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-icon name="send-outline" style="font-size: 60px;" (click)="storePowerSettingOnDevice()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col style="text-align: center;">
          <ion-icon *ngIf="!isCalibrating" name="play-circle-outline" style="font-size: 60px;" (click)="toggleCalibrationMode()"></ion-icon>
          <ion-icon *ngIf="isCalibrating" name="stop-circle-outline" style="font-size: 60px;" (click)="toggleCalibrationMode()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-item style="text-align: center;">
      <ion-icon name="save-outline" style="font-size: 60px;" (click)="finishCalibrationAndStore()"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
