<ion-toolbar>
  <ion-icon name="arrow-back-outline" (click)="dismiss()" class="ion-padding" style="float: left; font-size: 30px;"></ion-icon>
  <ion-icon name="save-outline" (click)="savePowerSettings()"  class="ion-padding" style="float: right; font-size: 30px;"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-icon name="timer-outline" style="font-size: 30px;"></ion-icon>
            </ion-col>
            <ion-col>
              Timeout (mins)
            </ion-col>
            <ion-col>
              <ion-datetime displayFormat="mm" picker-format="mm" [(ngModel)]="powerTimeout" minuteValues="0,15,30,45"></ion-datetime>
            </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-icon name="leaf-outline" style="font-size: 30px;"></ion-icon>
            </ion-col>
            <ion-col>
              Eco Mode
            </ion-col>
            <ion-col>
              <ion-toggle color="success" [(ngModel)]="ecoModeOn"></ion-toggle>
            </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-item>
  <ion-label>Start Time</ion-label>
  <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
</ion-item> -->
<!-- [(ngModel)]="myDate" -->
